<template>
  <div id="app">
    <LandingPage />
  </div>
</template>

<script>
import LandingPage from './views/landing-page.vue'

export default {
    name: 'App',
    components: {
        LandingPage,
    }
}
</script>

<style>
body {
    background-color: #4efca3;
    margin: 0;
    padding: 0;
    height: 100vh;
}
</style>
