<!-- landing-page.vue -->
<template>
  <div>
    <div id="landingTerminal" :style="{ height: rootTerminalHeight }">
      <button @click="toggleApp">Shrink App</button>
    </div>
    <div id="contentContainer" :style="{ height: containerHeight }">
      <div class="space-dev-container">
        <SpaceDev />
      </div>
      <div class="c-prox-container">
        <CProx />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import SpaceDev from "./space-dev.vue";
import CProx from "./c-prox.vue";

import "xterm/css/xterm.css";
import { ITerminalOptions } from "xterm";
import { FitAddon } from "xterm-addon-fit";

import { TerminalAdapter } from "@/utils/TerminalAdapter";
import { DummyTerminal } from "@/utils/terminals/DummyTerminal";
import { TerminalExtensions } from "@/utils/types";

export default {
  components: {
    SpaceDev,
    CProx,
  },
  data() {
    return {
      loadingState: false,
      loadingMessage: "Fetching resources",
      rootTerminalHeight: "100vh",
      containerHeight: "0vh",
    };
  },
  created() {
    console.log("LandingPage created");
  },
  mounted() {
    const termExtensions: TerminalExtensions = {
      div: "landingTerminal",
      charHeight: 20,
      prompt: "$",
      fitAddon: new FitAddon(),
    };
    const terminalOpts: ITerminalOptions = {
      allowProposedApi: true,
      fontSize: 24,
      theme: {
        foreground: "#fff",
        background: "#051a0b",
        cursor: "#616161", // md-grey-700
        cursorAccent: "#F5F5F5", // md-grey-100
        selectionBackground: "rgba(97, 97, 97, 0.3)", // md-grey-700
        selectionInactiveBackground: "rgba(189, 189, 189, 0.3)", // md-grey-400
      },
    };
    const dummyTerm = new DummyTerminal();

    const landingTerm = new TerminalAdapter(
      terminalOpts,
      termExtensions,
      dummyTerm,
    );
  },
  methods: {
    async showContent() {
      this.loadingState = true;
      this.loadingMessage = "Fetching resources....";

      await this.simulateServerProcess();

      this.loadingState = false;
    },
    async simulateServerProcess() {
      await new Promise((resolve) => setTimeout(resolve, 2000)); // Simulating a 2-second delay
    },
    toggleApp() {
      this.containerHeight = this.containerHeight === "0vh" ? "80vh" : "0vh";
      this.rootTerminalHeight =
        this.rootTerminalHeight === "100vh" ? "20vh" : "100vh";
    },
  },
};
</script>
<style scoped>
body {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

#rootTerminal {
  min-height: 20vh;
  flex: 3;
  background-color: #ffaa80; /* Puke Orange */
}

#contentContainer {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
}

.space-dev-container {
  flex: 3;
  background-color: lightblue;
  height: 100%;
}

.c-prox-container {
  flex: 1.2;
  background-color: lightcoral;
  height: 100%;
}
</style>
